@import url("https://fonts.google.com/share?selection.family=Noto%20Sans%20TC:wght@300");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
* {
    margin: 0;
    padding: 0;
    list-style: none;
}

html,
body {
    height: 100%;
}

body {
    background-color: #546377;
}

.side-menu {
    width: 250px;
    height: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    background-image: linear-gradient(0deg, #3381b0, #c2196c);
    display: flex;
    flex-direction: column;
    box-shadow: 5px 0px 10px hsla(240, 40%, 20%, .5);
}

.side-menu form {
    display: flex;
    margin: 0 10px 50px;
    border-radius: 100px;
    border: 1px solid rgba(255, 255, 255, .5);
}

.side-menu form input::placeholder {
    color: #fff;
    opacity: .3;
}

.side-menu form input,
.side-menu form button {
    border: none;
    padding: 5px 10px;
    background-color: transparent;
    color: #fff;
}

.side-menu form input:focus,
.side-menu form button:focus {
    outline: none;
}

.side-menu form input {
    width: 200px;
}

.side-menu form button {
    width: 50px;
}

nav a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
    position: relative;
    font-family: "Noto Sans TC", sans-serif;
}

nav a+a::before {
    content: '';
    position: absolute;
    border-top: 1px solid rgba(255, 255, 255, .3);
    left: 8px;
    right: 8px;
    top: 0;
}

nav a .material-icons {
    margin-right: -1.1em;
    transform: scale(0);
    transition: 0.3s;
}

nav a:hover .material-icons {
    margin-right: 0em;
    transform: scale(1);
}