* {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    padding-top: 75px;
}

header {
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    box-shadow: -1.4px -1.4px 6px 0 #97a2a0;
}

header .navbar {
    max-width: 1500px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 16px;
    align-items: center;
    background-color: #fff;
}

.logo a {
    font-size: 36px;
    text-decoration: none;
    color: #489846;
}

.wrap a {
    text-decoration: none;
    padding: 12px 24px;
    color: #000;
    font-size: 16px;
    border-radius: 8px;
}

.wrap a:hover {
    background-color: #ff7286;
    color: #fff;
}

.banner {
    position: relative;
    width: 100%;
    height: 450px;
    background-image: url(https://picsum.photos/1920/650?random=11);
    background-position: center center;
}

.banner::after {
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.banner__word {
    color: #fff;
    position: relative;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 60px;
    z-index: 1;
}

article {
    margin: 70px auto;
    text-align: center;
    max-width: 1200px;
}

.article__title {
    display: inline-block;
    font-size: 36px;
    margin-bottom: 36px;
}

.article__title::before {
    content: "";
    border-left: 15px solid #a3dea2;
}

.pic {
    display: flex;
    width: 100%;
    justify-content: center;
}

.pic img {
    width: 25%;
}

.message {
    display: flex;
    margin: 0 16px;
    margin-top: 60px;
    justify-content: center;
}

.message__title {
    font-size: 20px;
    font-weight: bold;
}

.message .wrap {
    border: 1px solid #c7e5ec;
    position: relative;
    padding: 36px 10px;
    border-radius: 8px;
    box-shadow: -1.4px -1.4px 4px 0 #d8eaef;
}

.message .wrap+.wrap {
    margin-left: 16px;
}

.message img {
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: -25px;
    transform: translate(-50%, 0%);
}

iframe {
    margin: auto;
}

.article__faq {
    margin-top: 3em;
    max-width: 1440px;
}

.faq__wrap {
    box-sizing: border-box;
    min-height: calc(100vh - 347px);
}

.FQA {
    width: 100%;
    text-align: center;
}

.FQA__title {
    display: inline;
    border-left: 15px solid #0c0;
}

.FAQ__block {
    max-width: 768px;
    margin: 50px auto;
}

.item {
    display: flex;
    border-bottom: 1px solid #0a0;
    padding-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
}

.item:not(:first-child) {
    margin-top: 15px;
}

.hide__content {
    height: 15px;
}

.item__num {
    color: #0a0;
    font-size: 20px;
    font-weight: bold;
    margin-right: 16px;
    line-height: 24px;
}

.question {
    padding-top: 2px;
    text-align: left;
}

.question h2 {
    font-weight: normal;
    font-size: 18px;
    padding-bottom: 15px;
}

.question p {
    font-size: 16px;
}

.lottery__draw {
    max-width: 100%;
    margin: 0;
}

.lottery__banner {
    background: url(/image/week8-1/banner.jpg) center center / cover;
    margin: auto;
    height: 550px;
    position: relative;
}

.lottery__banner.first-prize {
    background: url(/image/week8-1/first.jpg) center center / cover;
    z-index: 1;
}

.lottery__banner.second-prize {
    background: url(/image/week8-1/second.jpg) center center / cover;
    z-index: 1;
}

.lottery__banner.third-prize {
    background: url(/image/week8-1/third.jpg) center center / cover;
    z-index: 1;
}

.lottery__banner.none-prize {
    background: #000;
    color: #fff;
}

.lottery__banner::after {
    content: "";
    background-color: rgba(0, 0, 0, .3);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
}

.draw__wrap {
    z-index: 1;
    background-color: #fff;
    box-sizing: border-box;
    max-width: 400px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    border-radius: 16px;
}

.draw__title {
    font-size: 20px;
    color: #5cc;
    font-weight: bold;
    margin-bottom: 20px;
}

.draw__item {
    display: flex;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin-bottom: 10px;
}

.item__title {
    margin-right: 15px;
    width: 90px;
}

.item__content {
    text-align: left;
    flex: 1;
    line-height: 1.5em;
}

.btn {
    width: 75%;
    padding: 12px 0;
    background-color: #e77;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
}

.awards {
    z-index: 1;
    max-width: 600px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

.awards__title {
    font-size: 30px;
    margin-bottom: 30px;
}

.awards__btn {
    max-width: 300px;
    padding: 12px 0;
    background-color: #e77;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    margin: 0 auto;
}

.hide {
    display: none;
}

footer {
    position: relative;
    bottom: 0px;
}

.footer__top {
    background-color: #ccc;
    display: flex;
    padding: 10px 30px;
    justify-content: space-between;
}

.top__left {
    line-height: 1.5em;
}

.top__right {
    text-align: right;
}

.right__title {
    color: #0c0
}

.footer__bottom {
    background-color: rgb(6, 82, 6);
    color: #ddd;
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 10px 0;
    }
    .wrap {
        flex-direction: column;
        margin: auto;
    }
    .logo {
        margin-bottom: 10px;
    }
    .header__wrap {
        flex-direction: column;
    }
    .navbar a {
        padding: 10px 0px;
        border-radius: 0;
    }
    .banner {
        background: none;
    }
    .banner::after {
        display: none;
    }
    .draw__wrap {
        border-radius: 0;
    }
    .footer__top {
        flex-direction: column-reverse;
    }
    .top__left {
        line-height: 1em;
    }
    .top__right {
        text-align: left;
    }
}